<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<title>巡检系统</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/global.css">
	</head>
	<body>
		<div id='app' class="content">
		    <div class="topMenu">
	    		<div class="glyphicon glyphicon-menu-left pull-left" v-on:click="gotoBack();"></div>
		    	<h3>设备信息</h3>
		    </div>

			<div class="mainbody listSummary">
				<div class="media" v-on:click="gotoRecord(device);">
	                <div class="glyphicon glyphicon-menu-right" style="height: 30px; line-height: 30px;"></div>
	                <div class="media-body">
	                	<div v-if="device.records.length > 0">
	                    	<p><b v-html="types[device.type].name"></b> <em v-html="device.records[0].operator+' ('+device.records[0].operatorPhone+')'"></em></p>
	                    	<p><b>巡检结果:</b> <em v-html="device.records[0].status+' ('+device.records[0].updateTime+')'"></em></p>
	                    </div>
	                    <div v-else>
	                    	没有巡检记录
	                    </div>
                    </div>
                </div>
                <p style="margin: 10px 0;">
                	<button class="btn btn-primary btn-lg btn-block" v-on:click="addRecord(device.id);">增加巡检记录</button>
                </p>
                
                <h3>基本信息:</h3>
				<div class="form-group">
					<label for="operator">姓名:</label>
					<input type="text" class="form-control" id="operator" v-model="device.admin">
				</div>
				<div class="form-group">
					<label for="operatorPhone">电话:</label>
					<input type="tel" class="form-control" id="operatorPhone" v-model="device.adminPhone">
				</div>
				<div class="form-group">
					<label for="operatorPhone">地点:</label>
					<input readonly="" type="text" class="form-control" id="name" v-model="device.location.name">
				</div>
				<div  v-if="device.image">
					<img v-bind:src="device.image" />
				</div>
				<h3>设备信息:</h3>
				<div v-html="device.notes"></div>
		    </div>

		</div>

	<script type="text/javascript" src="js/libs/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="js/libs/bootstrap3.3.7.min.js"></script>
	<script type="text/javascript" src="js/libs/angular.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script type="text/javascript" src="js/comm.js"></script>
	<script type="text/javascript" src="js/f_ui_dialog.js"></script>
	<script type="text/javascript" src="js/fake_data.js"></script>

	<script type="text/javascript">
	$(document).ready(function(){
	    var id = global.request("id") || 0;
	    function getDevice(self) {
            global.ajax_data(this, {
            	_method: 'get',
	            _url: settings.ajax_func.getDevice+"/"+self.id,
	            _param: {
	            	id: self.id
	            }
            }, function(res){
            	console.log(res);
            	self.device = res.data;
            }, function(res){
            	alert("获取数据失败");
            });
	    }

		var app = new Vue({
			el: '#app',
			data: {
				types: settings.types,
				// 记录列表
				id: id,
				device: {
					location: {
						name:""
					},
					records: []
				},
			},
			methods: {
				gotoBack: function() {
					window.history.go(-1);
				},
				gotoRecord: function(device) {
					console.log(device);
					if(device.records.length > 0) {
						window.location.href = "recordDetail.html?id="+device.records[0].id;
					}
				},
				addRecord: function(id) {
					window.location.href = "addRecord.html?id="+id;
				},
				getDevice: getDevice,
			},
			mounted() {
				getDevice(this);
			},
		});

		
	});

	// 监听plusready事件  
	document.addEventListener( "plusready", function(){
		// 扩展API加载完毕，现在可以正常调用扩展API
		window.scan.alert("scan");
	}, false );
	</script>
	</body>
</html>
		